@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 1.5vw;
    color: #111;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.News {
    @include flex-center;
    flex-direction: column;
    height: 100vh;
    background: url("../../img/parking/top_pattern.png") center 5% no-repeat;

    .title {
        width: 100%;
        height: 45%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
        gap: 1.5vw;
        color: #333;
        padding-bottom: 50px;
        
        h1 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.2rem
        }
    }

    .core {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 55%;

        .contents{
            display: flex;
            width: 100%;
            height: 65%;
            .left_contents {
                width: 50%;
                display: flex;
                justify-content: center;
    
                .newkl_text {
                    @include flex-center;
                    width: 100%;
                    font-size: 1em;
                    
                    position: relative;
                    // background: url("../../img/parking/circle.png") center center no-repeat;
                    img{
                        max-width: 90%;
                    }
                    p{
                        max-width: 250px;
                        position: absolute;
                        width: 95%;
                        color: #333;
                        font-weight: bold;
                        line-height: 1.2;
                        text-align: center;
                    }
                }
    
    
    
            }
    
            .right_contents {
                width: 50%;
                height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                border-left: 1px solid #ccc;

                h1 {
                    font-size: 2em;
                    font-weight: 500;
                    padding-left: 1em;
                    padding-bottom: 0.5em;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    padding-left: 2em;
                    color: #111;
                    font-weight: 200;
    
                    li:before {
                        content: "●";
                        position: absolute;
                        left: 0;
                        transform: translateX(-50%) scale(.5);
                        height: inherit;
                        color: #ccc;
                    }
    
                    li {
                        padding-bottom: 1em;
                        font-size: 1.1vw;
                        font-weight: 600;
                        line-height: 1.3;
                    }
                }
    
            }
        }
        .newkl_link {
            width: 100%;
            padding: 1%;

            display: flex;
            @include flex-center;
            flex-direction: column;
            gap: 1vw;
            line-height: 1.5;
            font-weight: 200;

            
            .newkl_img {
                @include flex-center;
                }
            .about {
                display: flex;
                font-size: 0.8em;
                color: #aaa;
                gap: 2vw;
                p{
                    cursor: pointer;
                }
                a:hover{
                    color: #111;
                    text-decoration: underline;
                }
                a {
                    text-decoration: none;
                    color: #aaa;
                }
            }
        }

    }
}
@media (max-width: 950px){
    .News{
        .title{
            width: 75% !important;
            height: 40% !important;
            font-weight: bold;
        }
        .core{
            justify-content: flex-start;
            gap: 2vw;
            .contents{
                font-size: 14px;
                .newkl_text{
                    p {
                    width: 70% !important;
                    font-size: 17px !important;
                    }
                }
                .right_contents{
                    width: 100%;
                    ul {
                        width: 95%;
                        li{
                        font-size: 2.5vw !important;
                        }
                    }
                }
            }
            .newkl_link{
                line-height: 2.5;
                .newkl_img{
                    img{
                        max-width: 80px;
                    }
                }
                .about{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-size: 1.8em;
                    gap: 0;
                        p{  
                            width: 100%;
                            text-align: center;
                            a{
                            padding: 0 2%;
                            border: 1px solid #ccc;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}












#wrap {
    height: 100vh;
    overflow: hidden;

    header:hover {
        background: rgba(255, 255, 255, 0.7);
        // color: #111;
        transition: all 0.7s;
        transition: 0.7s;
    }

    header {
        width: 100%;
        max-width: 1920px;
        height: 3.5vw;
        background: transparent;
        color: #000;
        font-size: 16px;
        font-weight: 550;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        transition: all 0.4s;
        transition: 0.4s;

        .headerContainer {
            display: flex;
            justify-content: space-between;
            height: inherit;
            padding: 0 20px;

            div {
                display: flex;
                align-items: center;
            }

            .headerLogo {
                width: 4vw;

                a {
                    img {
                        width: 100%;
                    }
                }
            }

            #gnb {
                @include flex-center;

                .menu {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    gap: 5vw;

                    li {
                        a {
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }


    .swiper-slide {
        @include flex-center;
        width: 100%;
    }
    

    .container{
        #main3d {
            background-color: #fcc !important;
        }

        #Consulting::before {
            content: "";
            position: absolute;
            opacity: 0.5;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #062a4e;
        }
        #Consulting {
            position: relative;
            background: url("../../img/Consulting_bg.jpg") no-repeat center center / cover !important;
    
            .table {
                @include flex-center;
                position: relative;
                width: 100%;
                height: 100%;
    
                .container {
                    position: relative;
                    width: 100%;
                    height: 70%;
                    background-color: rgba(255, 255, 255, 0.6);
    
                    .title {
                        @include flex-center;
                        flex-direction: column;
                        justify-content: center;
                        gap: 1vw;
                        text-align: center;
                        height: 30%;
    
                        h3 {
                            font-size: 26px;
                            font-weight: bold;
                            color: #062a4e;
                        }
    
                        span {
                            font-size: 21px;
                        }
                    }
    
                    .contents {
                        @include flex-center;
                        height: 70%;
    
                        .cardWrap {
                            width: 100%;
                            height: 100%;
                            @include flex-center;
                            align-items: flex-start;
    
                            .card {
                                background: #fff;
                                min-width: 270px;
                                height: 90%;
                                margin: 0 2%;
                            }
                        }
                    }
                }
            }
        }

        #XRLearning{
            background-color: #ccf;
        }

        #MetaverseLearning{
            background-color: #cfc;
        }

        #SmartLearning{
            background-color: #ccc;
        }

        #ABOUT{
            background-color: #cff;
        }
    }

    footer {
        height: 400px !important;
        background: #000;
    }

}