@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #000;
  font-size: 1.5vw;
  color: #fff;
}

.News {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #000;
  background-size: cover;
}
.News .title {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1.5vw;
  color: #ddd;
}
.News .title h1 {
  font-size: 1.5rem;
}
.News .title h3 {
  font-size: 1.2rem;
}
.News .core {
  position: absolute;
  top: 65%;
  left: 50%;
  border-left: 2px solid #333;
}
.News .core ul {
  height: auto;
  padding-top: 10em;
  padding-left: 1em;
  padding-bottom: 15em;
  color: #fff;
}
.News .core ul h1 {
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 2em;
}
.News .core ul li:before {
  content: "·";
  position: absolute;
  left: -0.12em;
  font-size: 2.5em;
  height: inherit;
  color: #ccc;
}
.News .core ul li {
  font-size: 1.5em;
  height: 5em;
  line-height: 5em;
}
.News .core .newkl_text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -50vw;
  top: 0;
  width: 50vw;
  height: 50vw;
  border: 1px solid #fff;
  font-size: 1.5em;
}
.News .core .newkl_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vw;
  border: 1px solid #fff;
  position: absolute;
  left: -50vw;
  bottom: 0;
}
.News .core .newkl_link {
  width: 40vw;
  font-size: 1.1em;
  border: 1px solid #fff;
  position: absolute;
  bottom: 1vw;
}
.News .core .newkl_link a {
  text-decoration: none;
  color: #fff;
}