@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    // height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 1.5vw;
    color: #111;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title-font {
    font-size: 26px;
    font-weight: bold;
    color: #062a4e;
}

@import 'home';